<h1>CHAT</h1>

<h3>Nuevo mensaje</h3>
<input type="email" id="user" placeholder="Ingrese su email"><br>
<input type="text" id="message" placeholder="Ingrese su mensaje"><br>
<button type="submit" id="sendButton">Enviar</button>

<h3>Historial de mensajes</h3>
<div id="chatBox"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>